<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.service.module.system.pay.wx.record.WxPayRefundRecordDao">


    <!-- 根据退款状态 或 业务处理状态 查询 -->
    <select id="queryByRefundStatusOrHandleFlag"
            resultType="net.lab1024.smartadmin.service.module.system.pay.wx.record.domain.WxPayRefundRecordEntity">
        SELECT * FROM t_wx_pay_refund_record
        WHERE refund_status = #{refundStatus} OR business_handle_flag = #{handleFlag}
        <if test="limit != null">
            LIMIT #{limit}
        </if>
    </select>

    <!-- 根据 退款单号 查询1条数据 -->
    <select id="selectByRefundNo"
            resultType="net.lab1024.smartadmin.service.module.system.pay.wx.record.domain.WxPayRefundRecordEntity">
        SELECT * FROM t_wx_pay_refund_record
        WHERE refund_no = #{refundNo}
        LIMIT 1
    </select>

</mapper>