<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.service.module.system.pay.wx.account.WxPayAccountDao">

    <!-- 根据 微信应用类型 查询微信支付账户 -->
    <select id="selectAppType"
            resultType="net.lab1024.smartadmin.service.module.system.pay.wx.account.domain.WxPayAccountEntity">
        SELECT * FROM t_wx_pay_account
        WHERE app_type = #{appType}
        LIMIT 1
    </select>
</mapper>