<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.service.module.system.pay.wx.record.WxPayRecordDao">

    <!-- 查询 未支付完成 或者 业务未处理的数据 -->
    <select id="queryNotComplete"
            resultType="net.lab1024.smartadmin.service.module.system.pay.wx.record.domain.WxPayRecordEntity">
        SELECT * FROM t_wx_pay_record
        WHERE complete_time IS NULL OR business_handle_flag = #{handleFlag}
    </select>

    <!-- 根据 业务 查询1条支付记录 -->
    <select id="selectOneByBusiness"
            resultType="net.lab1024.smartadmin.service.module.system.pay.wx.record.domain.WxPayRecordEntity">
        SELECT * FROM t_wx_pay_record
        WHERE business_id = #{businessId} AND business_type = #{businessType}
        LIMIT 1
    </select>

    <!-- 根据 支付单号 查询1条支付记录 -->
    <select id="selectOneByPayNo"
            resultType="net.lab1024.smartadmin.service.module.system.pay.wx.record.domain.WxPayRecordEntity">
        SELECT * FROM t_wx_pay_record
        WHERE payment_no = #{paymentNo}
        LIMIT 1
    </select>
</mapper>