<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.lab1024.smartadmin.service.module.support.idgenerator.IdGeneratorDao">

    <!-- 查询上次id -->
    <select id="selectAll" resultType="net.lab1024.smartadmin.service.module.support.idgenerator.domain.IdGeneratorEntity">
        select * from t_id_generator
    </select>

    <select id="selectHistoryLastNumber" resultType="net.lab1024.smartadmin.service.module.support.idgenerator.domain.IdGeneratorRecordDTO">
        select * from t_id_generator_record
        where generator_id = #{generatorId} and year=#{year} and month=#{month} and day=#{day}
    </select>

    <update id="replaceIdGeneratorRecord">
        REPLACE INTO t_id_generator_record (generator_id, `year`, `month`, `day`, last_number,`count`)
        values (#{generatorId}, #{year}, #{month}, #{day}, #{lastNumber},#{count})
    </update>


</mapper>